@using ShowRoom.App_Helpers.Componentes

<style>
    .datepicker_modal {
        z-index: 1151 !important;
    }
</style>

<div class="modal fade modal-editar-evento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Finalizar Agendamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


                <div class="col-md-12 mb-3">
                    <label class="" for="id_cliente2">Cliente</label>
                    <select id="Clientes2" name="id_cliente2" disabled class="requerido" style="width:100%"></select>
                </div>

                <div class="col-md-12 mb-3">
                    <label class="" for="id_marca2">Marca</label>
                    <select id="Marcas2" name="id_marca2" disabled class="requerido" style="width:100%"></select>
                </div>

                <div class="col-md-12 mb-3">
                    <label class="" for="id_colecao2">Coleção</label>
                    <select id="Colecoes2" name="id_colecao2" disabled class="requerido" style="width:100%"></select>
                </div>

                <div class="form-row">
                    <div class="col-md-5 ml-4 mb-3" style="padding: 0px !important;">
                        <label for="metacolecaoatual" class="active">Meta para a Coleção</label>
                        <input name="metacolecaoatual" disabled class="form-control text-right valor" id="metacolecaoatual" placeholder="0,00" style="text-transform:uppercase" type="text">
                    </div>

                    <div class="col-md-5 ml-4 mb-3" style="padding: 0px !important;">
                        <label for="realizado" class="active">R$ Realizado</label>
                        <input name="realizado" class="form-control text-right valor" id="realizado" placeholder="0,00" style="text-transform:uppercase" type="text" autofocus>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-5 ml-4 mb-3" style="padding: 0px !important;">
                        <label for="dt_agenda2">Data agendada</label>
                        <input length="10"  disabled name="dt_agenda2" class="form-control " id="dt_agenda2" maxlength="5" data_dateformat="HH:MM" type="text" value="" style="">
                    </div>

                    <div class="col-md-5 ml-4 mb-3">
                        <label for="hr_agenda2">Horário</label>
                        <input length="10"  disabled name="hr_agenda2" class="form-control " id="hr_agenda2" maxlength="5" data_dateformat="HH:MM" type="text" value="">
                    </div>
                </div>

                <hr />
                <div class="form-row mt-3">
                    <div class="col-md-3 ml-4">
                        <label class="checkbox">
                            <input type="checkbox"  disabled name="reservasuite" id="reservasuite">
                            <i></i>Reserva Suíte?
                        </label>
                    </div>

                    <div class="col-md-3 ml-2">
                        <label class="checkbox">
                            <input type="checkbox"  disabled name="clientenovo" id="clientenovo">
                            <i></i>Cliente Novo?
                        </label>
                    </div>

                    <div class="col-md-4 ml-2">
                        <label class="checkbox">
                            <input type="checkbox" disabled name="atendeshowroom" id="atendeshowroom">
                            <i></i>Atende ShowRoom?
                        </label>
                    </div>

                </div>
                <hr />

                <div class="form-row mt-4">
                    <div class="col-md-3 ml-4">
                        <button type="button" id="btn-faltou" data-valor="4" class="btn btn-default pull-left faltou" style="color: #fff!important;background-color: #ff3333!important;" data-dismiss="modal">Faltou</button>
                    </div>
                    <div class="col-md-4 ml-4">
                        <button type="button" id="btn-atendido" data-valor="3" class="btn btn-purple pull-right confirmacao" style="color: #fff!important;margin:0px !important" data-dismiss="modal">Atendido</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" id="btn-confirmado" data-valor="2" class="btn btn-default pull-right confirmacao" style="color: #fff!important;background-color: #095616 !important;margin:0px !important" >Realizado</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btn-cancelar-edicao" class="btn btn-warning pull-left" data-dismiss="modal" style="color: #6d6565 !important;">Fechar</button>
                <!-- <a href="#" id="link_cadastro" class="btn btn-primary pull-left" target="_blank">Ir ao Cadastro</a> -->
                <!-- <button type="button" id="btn-exluir" data-valor="999" class="btn btn-danger confirmacao" data-dismiss="modal">Excluir</button> -->
                <input id="id-evento" style="display:none;" />

            </div>
        </div>

    </div>
</div>

