@using ShowRoom.App_Helpers.Componentes

<style>
    .datepicker_modal {
        z-index: 1151 !important;
    }
</style>

<div class="modal fade modal-editar-evento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar agenda</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal smart-form">
                    
                    <section class="col col-sm-12 col-md-3 col-lg-3">
                        <label class="" for="sessao_atual">Sessão atual</label>
                        <input name="sessao_atual" class="form-control" id="sessao_atual" disabled="" type="text" value="">
                    </section>
                    
                    <section class="col col-sm-12 col-md-3 col-lg-3">
                        <label class="" for="sessao_faltante">Sessões faltantes</label>
                        <div class="">
                            <div class="input-group">
                                <input name="sessao_faltante" class="form-control" id="sessao_faltante" disabled="" type="text" value="">
                               <!-- <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" id="apagar_agendamentos"><i class="fa fa-trash-o"></i></button>
                                </span> -->
                            </div>
                        </div>
                    </section>

                    <section class="col col-sm-12 col-md-3 col-lg-3">
                        <label class="checkbox">
                            <input type="checkbox" name="is_reagendamento" value="false" >
                            <i></i>Reagendamento?
                        </label>
                    </section>

                    <section class="col col-sm-12 col-md-12 col-lg-12">
                        <input name="sessao" class="form-control " id="sessao" value="" style="display:none;">
                    </section>

                    <section class="col col-sm-12 col-md-12 col-lg-12">
                        <label class="" for="id_cliente2">Cliente</label>
                        <select id="Clientes2" name="id_cliente2" class="requerido" style="width:100%"></select>
                    </section>

                    <section class="col col-sm-12 col-md-12 col-lg-12">
                        <label class="" for="id_servico2">Serviço</label>

                        <select id="Servicos2" name="id_servico2" class="requerido" style="width:100%"></select>
                    </section>

                    <section class="col col-sm-12 col-md-12 col-lg-12">
                        <label class="" for="id_colaborador2">Colaborador</label>
                        <select id="Colaboradores2" name="id_colaborador2" class="requerido" style="width:100%"></select>
                    </section>

                    <div class="row">
                        <section class="col col-sm-12 col-md-6 col-lg-6">
                            <label for="vl_servico2">Valor do serviço</label>
                            <div class="input-group"><input name="vl_servico2" class="form-control text-right valor" id="vl_servico2" maxlength="18" placeholder="0,00" type="text" value=""><span class="input-group-addon"> R$ </span></div>
                        </section>


                        <section class="col col-sm-12 col-md-6 col-lg-6">
                            <label for="dt_agenda2">Data agendada</label>
                            <div class="input-group"><input name="dt_agenda2" class="form-control datepicker datepicker_modal  hasDatepicker" data_dateformat="dd/mm/yy" id="dt_agenda2" maxlength="10" onkeypress="mascaraDT(this, DATA)" type="text" value=""><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-sm-12 col-md-6 col-lg-6">
                            <label for="hr_agenda2">Horário</label>
                            <div class="input-group"><input length="10" name="hr_agenda2" class="form-control " id="hr_agenda2" maxlength="5" data_dateformat="HH:MM" type="text" value=""><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                        </section>

                        <section class="col col-sm-12 col-md-6 col-lg-6">
                            <label class="" for="is_secao">Sessão</label>
                            <div class="">
                                <select class="form-control" id="is_secao" name="is_secao">
                                    <option value="1"><span style="background-color: #0b51c1;"></span>Agendado</option>
                                    <option value="2"><span style="background-color: #095616;"></span>Confirmado</option>
                                    <option value="3"><span style="background-color: #ffaa80;"></span>Desmarcou</option>
                                    <option value="4"><span style="background-color: #ff3333;"></span>Faltou</option>
                                    <option value="5"><span style="background-color: #cccccc;"></span>Concluído</option>
                                </select>
                            </div>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col">
                            <button type="button" id="btn-confirmado" data-valor="2" class="btn btn-default pull-left confirmacao" style="color: #fff!important;background-color: #095616;" data-dismiss="modal">Confirmado</button>
                        </section>
                        <section class="col">
                            <button type="button" id="btn-desmarcou" data-valor="3" class="btn btn-default pull-left confirmacao" style="color: #fff!important;background-color: #ffaa80;" data-dismiss="modal">Desmarcou</button>
                        </section>
                        <section class="col">
                            <button type="button" id="btn-faltou" data-valor="4" class="btn btn-default pull-left confirmacao" style="color: #fff!important;background-color: #ff3333;" data-dismiss="modal">Faltou</button>
                        </section>
                        
                        <section class="col">
                            <button type="button" id="btn-agendado" data-valor="1" class="btn btn-primary pull-left confirmacao" data-dismiss="modal">Agendado</button>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="btn-cancelar-edicao" class="btn btn-warning pull-left" data-dismiss="modal">Cancelar</button>
                <a href="#" id="link_cadastro" class="btn btn-primary pull-left" target="_blank" >Ir ao Cadastro</a>
                <button type="button" id="btn-exluir" data-valor="999" class="btn btn-danger confirmacao" data-dismiss="modal">Excluir</button>
                <input id="id-agenda" style="display:none;" />

            </div>
        </div>
    </div>
</div>

