<nav id="sidebar" class="px-0 bg-dark bg-gradient sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="logo-nav-item">
            <a class="navbar-brand" href="#">
                <p class="logo"><h3><b>Show</b>Room</h3></p> <!-- <img src="~/Content/assets/img/logo-white.png" width="145" height="32,3" alt=""> -->
            </a>
        </li>
        <li>
            <h6 class="nav-header">Dashboard</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/home/index">
                <i class="batch-icon batch-icon-star"></i>
                Visão geral
            </a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li>
            <h6 class="nav-header">Configurações</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-parent" href="#">
                <i class="batch-icon batch-icon-calendar"></i>
                Agenda
            </a>
            <ul class="nav nav-pills flex-column">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/agendamento/cadastrar">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/agendamento/AgendaVisualizar">Agenda</a>
                    </li>
                </ul>
            </ul>


            <a class="nav-link nav-parent" href="#">
                <i class="batch-icon batch-icon-store"></i>
                Cadastros
            </a>
            <ul class="nav nav-pills flex-column">
                <a class="nav-link" href="#">
                    <i class="batch-icon"></i>
                    Principais
                </a>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/cliente/cadastrar">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/vendedor/cadastrar">Vendedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/showroom/cadastrar">Showroom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/prospect/cadastrar">Prospects</a>
                    </li>
                </ul>
                <a class="nav-link" href="#">
                    <i class="batch-icon"></i>
                    Marcas e Coleções
                </a>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/marcas/cadastrar">Marcas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/marcasgrupo/cadastrar">Grupo de marcas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/colecao/cadastrar">Coleção</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/semanacolecao/cadastrar">Geração de semanas</a>
                    </li>
                </ul>
                <a class="nav-link" href="#">
                    <i class="batch-icon"></i>
                    Regiões
                </a>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/regiao/cadastrar">Região</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/subregiao/cadastrar">Sub Região</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/microregiao/cadastrar">Micro Região</a>
                    </li>
                </ul>
                <a class="nav-link" href="#">
                    <i class="batch-icon"></i>
                    Locais
                </a>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/cidade/cadastrar">Cidade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/estado/consultar">Estado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/pais/consultar">País</a>
                    </li>
                </ul>
            </ul>
        </li>

    </ul>

</nav>