<nav id="sidebar" class="px-0 bg-dark bg-gradient sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="logo-nav-item">
            <a class="navbar-brand" href="#">
                <p class="logo"><h3><b>Show</b>Room</h3></p> <!-- <img src="~/Content/assets/img/logo-white.png" width="145" height="32,3" alt=""> -->
            </a>
        </li>
        <li>
            <h6 class="nav-header">Dashboard</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/home/index">
                <i class="batch-icon batch-icon-star"></i>
                Visão geral
            </a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li>
            <h6 class="nav-header">Configurações</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-parent" href="#">
                <i class="batch-icon batch-icon-store"></i>
                Cadastros
            </a>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Showroom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pessoas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Grupo de marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/marcas/cadastrar">Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Coleção</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Geração de semanas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Região</a>
                </li>
            </ul>
        </li>

    </ul>

</nav>